.dff {
    display: flex;
    justify-content: center;
    align-items: center;
}
.df-ai {
    display: flex;
    align-items: center;
}
.df-jc {
    display: flex;
    justify-content: center;
}
.df {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}

.card {
    width: 22vw;
    background-color: whitesmoke;
    margin: 1rem;
    border-radius: 0.5rem;
    transition: 0.2s;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 0.5rem;
}

.card:hover {
    box-shadow: 0 0 20px 7px rgb(154, 181, 201);
    transform: translateY(-0.2rem);
}

.img_container {
    height: 22vw;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.img {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.content_container {
    height: calc(100% - 20vw);
    width: 100%;
    flex-direction: column;
    padding: 0 1.5rem;
    /* border-top: 1px solid black; */
    /* background-color: red; */
}
.title {
    color: rgb(14, 193, 252);
}

.sub-title {
    color: rgb(55, 205, 255);
    margin-bottom: 0.5rem;
}

.view-more {
    width: fit-content;
    padding: 10px 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px 0;
    background-color: transparent;
    border: 1px solid black;
    transition: 0.2s;
}

.view-more:hover {
    background-color: black;
    color: white;
}